body{
    background-image: url(imagenes/road-1072821_640.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}


/* Ya tengo cuenta */

.cuenta{
    width: 400px;
   background-color: #aaa;
   padding: 50px;
   margin: auto;
   margin-top: 100px;
   border-radius: 4px;
   font-family: 'calibri';
   color: white;
   box-shadow: 7px 13px 37px #000;
}


.cuenta h3{
    font-size: 22px;
    margin-bottom: 20px;
}

.correo{
    width: 100%;
    background-color: #aaa;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid white;
    font-family: 'calibri';
    font-size: 18px;
}

.boton2{
    width: 100%;
    background-color: #3c2048;
    border: none;
    padding: 12px;
    color: white;
    margin: 16px 0;
    font-size: 16px;
    cursor: pointer;
}




/* texto botones*/

h2{
    margin-bottom: 30px;
}

li{
    text-wrap: nowrap;
    margin: 65px;
    margin-top: -40px;
    margin-bottom: 30px;
}

.todo{
    margin-left: 500px;
    width: 550px;
   background-color: #042d47;
   padding: 30px;
   margin: auto;
   margin-top: 100px;
   border-radius: 4px;
   font-family: 'calibri';
   color: white;
   box-shadow: 7px 13px 37px #000;
}

.boton4{
    width: 80%;
    background-color: #130213;
    border: none;
    padding: 12px;
    color: white;
    margin: 1px;
    font-size: 16px;
    cursor: pointer;
}


