body{
    background-color: rgba(208, 135, 9, 0.877);
}

.descripcion{
    background-color: white;
    width: 550px;
    height: 290px;
    margin-top: 350px;
    margin-left: 450px;
}

.texto{
    text-align: center;
    margin: 15px;
    font-size: x-large;
}

.centrar{
    text-align: left;
}

.bajar{
    margin-left: 300px;
    
}

.imagenes{
    margin-top: 0px;
}

.img{
    width: 350px;
    height: 300px;
    
}

li{
    
    text-align: left;
}

.mar{
    background-color: white;
    text-align: center;
    margin-top: -2053px;
    margin-left: 1050px;
    width: 300px;
    height: 290px;
}

.lista{
    font-size: x-large; 
}

.cuadro{
    background-color: white;
    width: 550px;
    height: 200px;
    margin-left: 700px;
    margin-top: 150px;
}

.link{
        text-align: center;
        margin-left: 190px;
        margin-top: -140px;
}

ul{
    font-size: xx-large;
    
}

