body{
    background-image: url(imagenes/trees-3822149_640.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

/* texto botones*/

h2{
    margin-bottom: 30px;
}

li{
    text-wrap: nowrap;
    margin: 65px;
    margin-top: -40px;
    margin-bottom: 30px;
}

.todo{
    margin-left: 500px;
    width: 550px;
   background-color: #042d47;
   padding: 30px;
   margin: auto;
   margin-top: 100px;
   border-radius: 4px;
   font-family: 'calibri';
   color: white;
   box-shadow: 7px 13px 37px #000;
}

.boton4{
    width: 80%;
    background-color: #130213;
    border: none;
    padding: 12px;
    color: white;
    margin: 1px;
    font-size: 16px;
    cursor: pointer;
}

/*Boton de check */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.boton3{
    margin: 10px;
}

.lbl-switch{
    display: inline-block;
    width: 55px;
    height: 30px;
    background: #aaa;
    border-radius: 100px;
    position: relative;
    cursor: pointer;
}

#btn-switch:checked~ .lbl-switch{
    background: #61A0FF;
}
.lbl-switch:after{
    position: absolute;
    content: '';
    width: 22px;
    height: 22px;
    background: #fff;
    border-radius: 100px;
    top: 4px;
    left: 5px;
    transition: 0.3s;
}

#btn-switch:checked~ .lbl-switch::after{
    left: 28px;
}

#btn-switch{
    display: none;

}

/* 2boton */

.botones{
    margin: 10px;
}

.lbl-switch{
    display: inline-block;
    width: 55px;
    height: 30px;
    background: #aaa;
    border-radius: 100px;
    position: relative;
    cursor: pointer;
}

#boton-switch:checked~ .lbl-switch{
    background: #61A0FF;
}
.lbl-switch:after{
    position: absolute;
    content: '';
    width: 22px;
    height: 22px;
    background: #fff;
    border-radius: 100px;
    top: 4px;
    left: 5px;
    transition: 0.3s;
}

#boton-switch:checked~ .lbl-switch::after{
    left: 28px;
}

#boton-switch{
    display: none;

}